In [26]:
import pandas as pd
from collections import OrderedDict

dict = OrderedDict(
    [
        ('name', ['john','nate', 'bon']),
        ('age', [25, 26,28]),
        ('job', ['programmer','student', 'devops']),
    ]
)

df = pd.DataFrame.from_records(dict)

df

   age         job  name
0   25  programmer  john
1   26     student  nate
2   28      devops   bon

In [27]:
df = df.drop('age', axis=1)
#df = df.drop('age', axis=1, inplace=True)