In [20]:
import pandas as pd
import numpy as np

In [21]:
# map
date_list = [{'date': '2000-06-27'},
         {'date': '2002-09-24'},
         {'date': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['date'])
df

         date
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [22]:
def extract_year(row):
    return row.split('-')[0]

In [23]:
df['year'] = df['date'].map(extract_year)

In [17]:
df

         date  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [24]:
# applymap = > 값 전체변경

x_y = [{'x': 5.5, 'y': -5.6},
         {'x': -5.2, 'y': 5.5},
         {'x': -1.6, 'y': -4.5}]
df = pd.DataFrame(x_y)
df

     x    y
0  5.5 -5.6
1 -5.2  5.5
2 -1.6 -4.5

In [25]:
df = df.applymap(np.around)

/var/folders/s6/gdrcvvkn5z943s3mzr247nwh0000gn/T/ipykernel_16492/3384363659.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(np.around)