In [3]:
import pandas as pd
from collections import OrderedDict

In [23]:
dict = OrderedDict(
    [
        ('name', ['john','nate', 'bon']),
        ('age', [25, 26,28]),
        ('job', ['programmer','student', 'devops']),
    ]
)

df = pd.DataFrame.from_records(dict)

df

   age         job  name
0   25  programmer  john
1   26     student  nate
2   28      devops   bon

In [25]:
### by columns condition

In [26]:
df[df.age > 25]

   age      job  name
1   26  student  nate
2   28   devops   bon

In [27]:
df.query('age>25')

   age      job  name
1   26  student  nate
2   28   devops   bon

In [31]:
df[(df.age>25) & (df.name == "nate") ]

   age      job  name
1   26  student  nate

In [32]:
## Filter column

In [ ]:
# by index
friend_list = [
    ['john', 20, 'student'],
    ['jenny', 25, 'devops'],
    ['nate', 30, 'teacher'],
]

df = pd.DataFrame.from_records(friend_list)


# iloc[row, column]
df.iloc[:,0:2]
df.iloc[0:1,0:1]

In [41]:
## by Column name

In [55]:
df_no_head = pd.read_csv('data/friend_list_no_head.csv', header = None)

FileNotFoundError: [Errno 2] No such file or directory: 'data/friend_list_no_head.csv'

In [49]:
df= df_no_head.head(5)